@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&family=Kanit:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    background-color: #000000;
    color: #681212;
    padding: 20px;
    margin: 20px;
}
header{
    display: flex;
    align-items: center;
}

.header-im-tx{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
img.logo-starcheck{
    width: 120px;
}

.boneco-starcheck{
    float: left;
    background-color: #681212;
    padding: 8px;
    margin-left: 50px;
    border-radius: 20px;
}

span{
    border: none;
    color: #eee;
    border-radius: 10px;
    padding: 10px;
}
#cc{
    background-color: #681212;
    font-size: 20px;
    font-family:'Inter', sans-serif ;
    font-weight: 500;
}

#cc:hover{

    background-color: #0c7bc0;
    transition: 0.5s all;
    cursor: pointer;
}

#ccc{
    font-size: 30px;
    font-family:'Inter', sans-serif ;
    font-weight: 600;
    color: #681212;
}
main{
    display: flex;
    padding-top: 50px;
    justify-content: center;
}

h1{
    padding: 0 auto;
    font-size: 60px;
    font-weight: 800;
    font-family: 'Inter', sans-serif;
}

p{
    color: #eee;
    padding-top: 3px;
    line-height: -25px;
    width: 76%;
    font-size: 20px;
    font-weight: 400;
}

.carro-starcheck img{
    padding: 70px;
    width: 450px;
    margin-left: 10%
}

form{
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 20px;
}

input[type="submit"]{
    padding: 16px 8px;
    border: none;
    border-radius: 10px;
    background-color: #681212;
    color: #eee;
    font-size: 20px;
    font-weight: 600;
}

input[type="submit"]:hover{
    background-color: #0c7bc0;
    border-radius: 10px;
    color: #eee;
    transition: 0.7s all;
    cursor: pointer;
}

.all-secundary-information{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 25%;
    
}
.one-image{
    width: 5px;
}

.jts{
    display:inline-block;
    float: left;
    margin-right: 8px;
    align-items: center;
    background-color: none;
}

.ppp {
    display: flex;
    width: 100%;
    font-size: 20px;
    font-weight: 300;
    color: #ffffff;
}
